@page "/Tarefas"
<h3>Tarefas</h3>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Tarefa 1</td>
        <td>Preparar pequeno almoço</td>
    </tr>
    <tr>
        <td>Tarefa 2</td>
        <td>Preparar almoço</td>
    </tr>
    <tr>
        <td>Tarefa 3</td>
        <td>Preparar Jantar</td>
    </tr>
    </tbody>
</table>

@code {

}